*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: rgb(78, 78, 78);
}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 2em;
box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.521);
}
header a{
    text-decoration: none;
    color: white;
    width:120px;
    background-color: rgb(194, 0, 39);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.521);
}
header a:hover{
    background-color: rgb(226, 0, 45);
}
main .my_information{
    width: 70%;
    height: 500px;
    margin: 1em auto;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.521);
}
main h1{
    text-align: center;
}
main h2{
    padding: 1em;
}
